*{
  /* border: 1px solid red; */
  background-color: rgb(236, 249, 251);
}

@media (max-width: 450px) {
  /* CSS rules specific to mobile screens */
  .grid{
    display: grid;
    grid-template-columns: auto  ;
    
  }
  .card>img{
    height: 300px;
    width: 365px;
    padding-left:0px ;
    padding-right:0px ;
    
  }
  .card{
    height: 390px;
    width: 365px;
   border: 3px solid black;
}
}

/* For screens between 600px and 1024px (typical tablets) */
@media (min-width: 600px) and (max-width: 1024px) {
  /* CSS rules specific to tablets */
  .grid{
    display: grid;
    grid-template-columns: auto auto auto;
    
  }
  .card>img{
    height: 200px;
    width: 250px;
    padding-left:0px ;
  }
  .card{
    height: 300px;
    width: 250px;
   border: 3px solid black;

}
}

/* For screens larger than 1024px (typical PCs) */
@media (min-width: 1024px) {
  /* CSS rules specific to PCs */
  .grid{
    display: grid;
    grid-template-columns: auto auto auto auto;
    
  }
  .card>img{
    height: 200px;
    width: 250px;
    padding-left:0px ;
  }
  .card{
    height: 300px;
    width: 250px;
   border: 3px solid black;
  }
}


.des{
  display: flex;
  flex-direction: column;
  text-align: left;
}
.pes{
  margin-top: 0px;
  margin-bottom: 0px;
}